In [79]:
import pandas as pd

# 1 Customer data

In [180]:
customer_data = pd.read_csv("Data_manupriya/olist_customers_dataset.csv.zip")

In [181]:
customer_data.set_index('customer_id', inplace=True)
customer_data.head()

,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
customer_id,,,,
06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [182]:
customer_data.count()

customer_unique_id          99441
customer_zip_code_prefix    99441
customer_city               99441
customer_state              99441
dtype: int64

In [183]:
customer_data.isnull().sum()

customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [184]:
customer_data.nunique()

customer_unique_id          96096
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
dtype: int64

In [185]:
customer_data.drop_duplicates(subset = ['customer_unique_id'], inplace = True)

In [186]:
customer_data.count()

customer_unique_id          96096
customer_zip_code_prefix    96096
customer_city               96096
customer_state              96096
dtype: int64

In [187]:
customer_data.dtypes

customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

#2.  Geolocation Data
# geolocation_zip_code_prefix	geolocation_lat	geolocation_lng	geolocation_city	geolocation_state

In [88]:
geolocation_data = pd.read_csv("Data_manupriya/olist_geolocation_dataset.csv.zip")

In [188]:
geolocation_data.set_index("geolocation_zip_code_prefix", inplace = True)
geolocation_data.head()

                             geolocation_lat  geolocation_lng
geolocation_zip_code_prefix
1037                              -23.545621       -46.639292
1046                              -23.546081       -46.644820
1041                              -23.544392       -46.639499
1035                              -23.541578       -46.641607
1012                              -23.547762       -46.635361

In [189]:
geolocation_data.count()

geolocation_lat    19015
geolocation_lng    19015
dtype: int64

In [190]:
geolocation_data.drop_duplicates(subset = ['geolocation_zip_code_prefix'], inplace = True)

KeyError: Index(['geolocation_zip_code_prefix'], dtype='object')

In [191]:
geolocation_data.head()

                             geolocation_lat  geolocation_lng
geolocation_zip_code_prefix
1037                              -23.545621       -46.639292
1046                              -23.546081       -46.644820
1041                              -23.544392       -46.639499
1035                              -23.541578       -46.641607
1012                              -23.547762       -46.635361

In [192]:
geolocation_data.count()

geolocation_lat    19015
geolocation_lng    19015
dtype: int64

In [193]:
geolocation_data.drop(columns = ['geolocation_city', 'geolocation_state'], axis = 1, inplace = True)

KeyError: "['geolocation_city' 'geolocation_state'] not found in axis"

In [194]:
geolocation_data.head()

                             geolocation_lat  geolocation_lng
geolocation_zip_code_prefix
1037                              -23.545621       -46.639292
1046                              -23.546081       -46.644820
1041                              -23.544392       -46.639499
1035                              -23.541578       -46.641607
1012                              -23.547762       -46.635361

In [195]:
geolocation_data.isnull().sum()

geolocation_lat    0
geolocation_lng    0
dtype: int64

In [196]:
geolocation_data.dtypes

geolocation_lat    float64
geolocation_lng    float64
dtype: object

In [197]:
geolocation_data.isnull().sum()

geolocation_lat    0
geolocation_lng    0
dtype: int64

# 3.  order_items_dataset

In [263]:
parse_dates = ["shipping_limit_date"]
order_item_data = pd.read_csv("Data_manupriya/olist_order_items_dataset.csv.zip", infer_datetime_format = True, parse_dates = parse_dates)

In [264]:


order_item_data.reset_index(drop = False , inplace = True)
order_item_data.head()

,index,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [266]:
order_item_data.drop_duplicates(subset = ['order_id'], inplace = True)
order_item_data.count()

index                  98666
order_id               98666
order_item_id          98666
product_id             98666
seller_id              98666
shipping_limit_date    98666
price                  98666
freight_value          98666
dtype: int64

In [268]:
order_item_data.set_index("order_id", inplace = True)
order_item_data.head()

,index,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
order_id,,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,0,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
00018f77f2f0320c557190d7a144bdd3,1,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
000229ec398224ef6ca0657da4fc703e,2,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
00024acbcdf0a6daa1e931b038114c75,3,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
00042b26cf59d7ce69dfabb4e55b4fd9,4,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [269]:
order_item_data.nunique()

index                  98666
order_item_id              1
product_id             31881
seller_id               3088
shipping_limit_date    93001
price                   5882
freight_value           6743
dtype: int64

In [270]:
order_item_data.isnull().sum()

index                  0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [271]:
order_item_data.dtypes

index                           int64
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [272]:
order_item_data['shipping_limit_date'] = order_item_data['shipping_limit_date'].dt.date
order_item_data.head()

,index,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
order_id,,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,0,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.90,13.29
00018f77f2f0320c557190d7a144bdd3,1,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03,239.90,19.93
000229ec398224ef6ca0657da4fc703e,2,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18,199.00,17.87
00024acbcdf0a6daa1e931b038114c75,3,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15,12.99,12.79
00042b26cf59d7ce69dfabb4e55b4fd9,4,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13,199.90,18.14

In [273]:
order_item_data['shipping_limit_date'] = pd.to_datetime(order_item_data['shipping_limit_date'])

In [277]:
order_item_data.drop(columns = ["index"], inplace = True)
order_item_data.head()

,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
order_id,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.90,13.29
00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03,239.90,19.93
000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18,199.00,17.87
00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15,12.99,12.79
00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13,199.90,18.14

In [278]:
order_item_data.dtypes

order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

# 4. olist_order_payments_dataset.csv.zip

In [306]:
order_payment_data = pd.read_csv("Data_manupriya/olist_order_payments_dataset.csv.zip")
order_payment_data.drop_duplicates(subset = ['order_id'], inplace = True)
order_payment_data.set_index("order_id", inplace = True)
order_payment_data.head()

,payment_sequential,payment_type,payment_installments,payment_value
order_id,,,,
b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [307]:
order_payment_data.count()

payment_sequential      99440
payment_type            99440
payment_installments    99440
payment_value           99440
dtype: int64

In [308]:
order_payment_data.nunique()

payment_sequential         16
payment_type                5
payment_installments       24
payment_value           28133
dtype: int64

In [309]:
order_payment_data.head()

,payment_sequential,payment_type,payment_installments,payment_value
order_id,,,,
b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [310]:
order_payment_data.isnull().sum()

payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

# 5. olist_order_reviews_dataset.csv.zip

In [294]:
parse_dates = ["review_creation_date", "review_answer_timestamp"]
order_reviews_data = pd.read_csv("Data_manupriya/olist_order_reviews_dataset.csv.zip", infer_datetime_format = True, parse_dates = parse_dates)
order_reviews_data.drop_duplicates(subset = ['review_id'], inplace = True)

In [295]:
order_reviews_data.set_index("review_id", inplace = True)
order_reviews_data.head()

,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
review_id,,,,,,
7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59
80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13
228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17,2018-02-18 14:36:24
e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53

In [296]:
order_reviews_data.count()

order_id                   99173
review_score               99173
review_comment_title       11665
review_comment_message     41431
review_creation_date       99173
review_answer_timestamp    99173
dtype: int64

In [297]:
order_reviews_data.nunique()

order_id                   98926
review_score                   5
review_comment_title        4600
review_comment_message     36921
review_creation_date         637
review_answer_timestamp    99010
dtype: int64

In [298]:
order_reviews_data.isnull().sum()

order_id                       0
review_score                   0
review_comment_title       87508
review_comment_message     57742
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [299]:
order_reviews_data.drop(columns = ["review_comment_title", "review_comment_message"], inplace = True)

In [300]:
order_reviews_data.dtypes

order_id                           object
review_score                        int64
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

In [301]:
order_reviews_data['review_answer_timestamp'] = order_reviews_data['review_answer_timestamp'].dt.date
order_reviews_data.head()

,order_id,review_score,review_creation_date,review_answer_timestamp
review_id,,,,
7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18,2018-01-18
80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10,2018-03-11
228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17,2018-02-18
e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21,2017-04-21
f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01,2018-03-02

In [302]:
order_reviews_data.dtypes

order_id                           object
review_score                        int64
review_creation_date       datetime64[ns]
review_answer_timestamp            object
dtype: object

In [303]:
order_reviews_data['review_answer_timestamp'] = pd.to_datetime(order_reviews_data['review_answer_timestamp'])

In [304]:
order_reviews_data.dtypes

order_id                           object
review_score                        int64
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

# 5. olist_orders_dataset.csv.zip

In [226]:
parse_dates = ["order_purchase_timestamp", "order_approved_at", "order_delivered_carrier_date", "order_delivered_customer_date", "order_estimated_delivery_date"]
orders_data = pd.read_csv("Data_manupriya/olist_orders_dataset.csv.zip", infer_datetime_format = True, parse_dates = parse_dates)
orders_data.set_index("order_id", inplace = True)

orders_data.head()

,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
order_id,,,,,,,
e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [227]:
orders_data.count()

customer_id                      99441
order_status                     99441
order_purchase_timestamp         99441
order_approved_at                99281
order_delivered_carrier_date     97658
order_delivered_customer_date    96476
order_estimated_delivery_date    99441
dtype: int64

In [228]:
orders_data.nunique()

customer_id                      99441
order_status                         8
order_purchase_timestamp         98875
order_approved_at                90733
order_delivered_carrier_date     81018
order_delivered_customer_date    95664
order_estimated_delivery_date      459
dtype: int64

In [229]:
orders_data.isnull().sum()

customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [230]:
orders_data["order_purchase_timestamp"] = orders_data["order_purchase_timestamp"].dt.date
orders_data["order_approved_at"] = orders_data["order_approved_at"].dt.date
orders_data["order_delivered_carrier_date"] = orders_data["order_delivered_carrier_date"].dt.date
orders_data["order_delivered_customer_date"] = orders_data["order_delivered_customer_date"].dt.date

In [231]:
orders_data.dtypes

customer_id                              object
order_status                             object
order_purchase_timestamp                 object
order_approved_at                        object
order_delivered_carrier_date             object
order_delivered_customer_date            object
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [232]:
orders_data.dropna(axis = 0, how = "any", inplace = True)

orders_data.isnull().sum()

customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

In [233]:
orders_data['order_purchase_timestamp'] = pd.to_datetime(orders_data['order_purchase_timestamp'])
orders_data['order_approved_at'] = pd.to_datetime(orders_data['order_approved_at'])
orders_data['order_delivered_carrier_date'] = pd.to_datetime(orders_data['order_delivered_carrier_date'])
orders_data['order_delivered_customer_date'] = pd.to_datetime(orders_data['order_delivered_customer_date'])

In [234]:
orders_data.dtypes

customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

# 6. olist_products_dataset.csv.zip

In [137]:
product_data = pd.read_csv("Data_manupriya/olist_products_dataset.csv.zip")

In [235]:
product_data.set_index("product_id", inplace = True)
product_data.head()

                                  product_category_name  product_photos_qty
product_id
1e9e8ef04dbcff4541ed26657ea517e5             perfumaria                 1.0
3aa071139cb16b67ca9e5dea641aaa2f                  artes                 1.0
96bd76ec8810374ed1b65e291975717f          esporte_lazer                 1.0
cef67bcfe19066a932b7673e239eb23d                  bebes                 1.0
9dc1a7de274444849c219cff195d0b71  utilidades_domesticas                 4.0

In [236]:
product_data.count()

product_category_name    32341
product_photos_qty       32341
dtype: int64

In [237]:
product_data.nunique()

product_category_name    73
product_photos_qty       19
dtype: int64

In [238]:
product_data.isnull().sum()

product_category_name    0
product_photos_qty       0
dtype: int64

In [239]:
import numpy as np
#product_data.replace(np.nan, "other", inplace = True)
product_data['product_photos_qty'].replace("other", 0, inplace = True)

In [240]:
product_data.drop(columns = ['product_weight_g', "product_length_cm", 'product_height_cm', 'product_width_cm', "product_name_lenght","product_description_lenght"], inplace = True)

product_data.dropna(axis = 0, how = "any", inplace = True)
product_data.isnull().sum()

KeyError: "['product_weight_g' 'product_length_cm' 'product_height_cm'\n 'product_width_cm' 'product_name_lenght' 'product_description_lenght'] not found in axis"

In [241]:
product_data.head()

                                  product_category_name  product_photos_qty
product_id
1e9e8ef04dbcff4541ed26657ea517e5             perfumaria                 1.0
3aa071139cb16b67ca9e5dea641aaa2f                  artes                 1.0
96bd76ec8810374ed1b65e291975717f          esporte_lazer                 1.0
cef67bcfe19066a932b7673e239eb23d                  bebes                 1.0
9dc1a7de274444849c219cff195d0b71  utilidades_domesticas                 4.0

# 7. olist_sellers_dataset.csv

In [146]:
seller_data = pd.read_csv("Data_manupriya/olist_sellers_dataset.csv")

In [242]:
seller_data.set_index("seller_id",  inplace = True)
seller_data.head()

,seller_zip_code_prefix,seller_city,seller_state
seller_id,,,
3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [243]:
seller_data.count()

seller_zip_code_prefix    3095
seller_city               3095
seller_state              3095
dtype: int64

In [244]:
seller_data.nunique()

seller_zip_code_prefix    2246
seller_city                611
seller_state                23
dtype: int64

In [245]:
seller_data.isna().sum()

seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

# 8. product_category_name_translation.csv

In [287]:
product_catagory_data = pd.read_csv("Data_manupriya/product_category_name_translation.csv")

In [288]:
product_catagory_data.drop_duplicates(subset = ['product_category_name'], inplace = True)

In [289]:
product_catagory_data.set_index("product_category_name", inplace = True)
product_catagory_data.head()

                       product_category_name_english
product_category_name
beleza_saude                           health_beauty
informatica_acessorios         computers_accessories
automotivo                                      auto
cama_mesa_banho                       bed_bath_table
moveis_decoracao                     furniture_decor

In [290]:
product_catagory_data.count()

product_category_name_english    71
dtype: int64

In [291]:
product_catagory_data.nunique()

product_category_name_english    71
dtype: int64

In [292]:
product_catagory_data.isna().sum()

product_category_name_english    0
dtype: int64

# df to csv

In [250]:
customer_data.to_csv("final_database/customer_data.csv")

In [251]:
geolocation_data.to_csv("final_database/geolocation_data.csv")

In [280]:
order_item_data.to_csv("final_database/order_item_data.csv")

In [311]:
order_payment_data.to_csv("final_database/order_payment_data.csv")

In [305]:
order_reviews_data.to_csv("final_database/order_reviews_data.csv")

In [255]:
product_data.to_csv("final_database/product_data.csv")

In [258]:
seller_data.to_csv("final_database/seller_data.csv")

In [293]:
product_catagory_data.to_csv("final_database/product_catagory_data.csv")

In [260]:
orders_data.to_csv("final_database/orders_data.csv")